.main-footer{
    margin-top : 1rem;
    color: white;
    background-color: #E7DEDA;
    position : fixed;
    left: 0;
    padding-top : 1em;
    position : relative;
    bottom : 0;
    width : 100%
}

li{
    list-style : none;
}

hr{
    margin: 2px;
    padding : 2px;
}

@media (max-width: 877px){
    .main-footer{
    margin-top : 0.5rem;
    color: white;
    background-color: #E7DEDA;
    position : fixed;
    left: 0;
    padding-top : 1em;
    position : relative;
    bottom : 0;
    width : 100%

    };
    p{
        text-align: center !important;
    };
   h4, .h4{
        font-size : 5vw;
    };

    .col li{
    list-style : none;
    width:100%
};
#pic{
    height: auto;
    max-width: 100%;
};

.list-unstyled{
    margin: 0;
}



    
}

