.main-footer{
    /* margin-top : 1rem; */
    color: black;
    background-color: #E7DEDA;
    position : fixed;
    left: 0;
    padding-top : 1em;
    position : fixed;
    bottom : 0;
    width : 73%;
    right: 0;
     margin: auto;
}

li{
    list-style : none;
    font-size: 14px;
}

hr{
    margin: 2px;
    padding : 2px;
}

p{
    font-size: 14px;
}

h4{
    font-size: 16px;
}

@media (max-width: 877px){
    .main-footer{
   margin: auto;
    color:black;
    background-color: #E7DEDA;
    position : fixed;
    left: 0;
    padding-top : 1em;
    position : fixed;
    bottom : 0;
    width : 100%;
    right:0;

    };
    p{
        text-align: center !important;
    };
   h4, .h4{
        font-size : 5vw;
    };

    .col li{
    list-style : none;
    width:100%
};
#pic{
    height: auto;
    max-width: 100%;
};

.list-unstyled{
    margin: 0;
}



    
}

