.carousel {
  width:500px;
  height:500px;
  margin: auto;
}

@media (max-width: 877px){

  .slide{
     margin:0;
     height: 328px;
      max-width: 100%; 
  }

  .carousel-indicators{
      margin: 2px;
      padding: 2px;
  }
  
  
  


}