.grid-container{
    display: flex;
   
}

.promo{
    display: flex;
    height: 300px;
    width : 480px;
    position : relative;  
    border: 5px solid grey;
    background: white;
   
}

.promo-text{
    text-align: center;
    font-weight: bold;
}

.promo-image{
    height: 300px;
    width: 350px;
}


@media (max-width: 877px){

.promo{

    height: 150px;
    width : 150px;
    border: 2px green solid;
    position : relative;

  
}


}